.card-info a{
    color: #2ec4b6;
  text-decoration: none;
  }
  .card-diets{
      font-family: 'Poppins';
      font-size: 1rem;
      color: blue;
  }
  .Card {
      list-style: none;
      font-size: 1.5rem;
      text-align: center;
      border: 0.3rem solid #ff9f1c91;
      background-color: #2ec4b6;
      width: 50vh;
      height: 60vh;
    }
    .card-title{
      font-family: 'Rubik';
      font-size: 1.5rem;
      color: #ffec80;
      margin-bottom: 15px;
      
    }
    
    .Card:hover {
      opacity: 0.8;
    }
    
    .Image {
      width: 90%;
      display: inline-block;
    }
    
    @media (max-width: 560px) {
      .Image {
        width: 90%;
        height: auto;
      }
    }
