
.conteiner {
  
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px);
    gap: 90px;
    padding: 40px;
    justify-content: center;

    pointer-events: visible;
  }
 
  @media (max-width: 560px) {
    .conteiner {
      grid-template-columns: 100%;
    }
  }
  .loading{
    position:absolute;
    height: 100%;
    width: 100%;
    background-image: url('../images/fondoo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}